*{
	box-sizing: border-box;
}
.div1{
	width: 450px;
	height: 200px;
	background-color: gray;
	float: left;
	margin : 25px 25px 25px 25px;



}
.cont{
	background-color: #E49999;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;

}
.cont2{
	background-color: #D05353;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;
}
.cont3{
	background-color: #DFC886;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;
}
.h1{
	font-weight: 600;
	text-align: center;

	}
.h2{
	text-align: center;
	margin-top: 0;
}
.cont2 h2{
	color: white;
}
p{
	margin: 20px;
	text-align: justify;
	font-size: 20px;
}