*{
	box-sizing: border-box;
}
.div1{
	width: 30%;
	height: 200px;
	background-color: gray;
	float: left;
	margin : 25px 25px 25px 25px;
}
.div3{
	width: 30%;
	height: 200px;
	background-color: gray;
	float: left;
	margin : 25px 25px 25px 25px;
}
.cont{
	background-color: #E49999;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;
position: relative;

}
.cont2{
	background-color: #D05353;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;
}
.cont3{
	background-color: #DFC886;
	width: 150px;
	height: 40px;
	border: 2px solid black;
	margin-left: 300px;

}
.h1{
	font-weight: 600;
	text-align: center;
	position: relative;
	margin: 5px;


	}
.h2{
	text-align: center;
	margin-top: 0;
	float: left;
}
.cont2 h2{
	color: white;

}
p{
	margin: 20px;
	font-size: 20px;
}
@media(max-width: 768px) {
	.div1, .div2 ,.div3 {
    float: left;
    border: 1px solid black; 
}
.div1, .div2 ,.div3{
	width: 100%;
	background-color: grey;
}
.h2{
	text-align: center;
}
}
@media (max-width: 992px) and (min-width: 767px) {
  .div1, .div2 ,.div3 {
    float: left;
    border: 1px solid black; 
}

    .div1, .div2{
    	width: 48%;
    	background-color: gray;
    	margin: 5px;
    	overflow: auto;
    }
    .div3{
    	width: 100%;
    	background-color: gray;
    	margin: 10px;
    	overflow: auto;
    

    }

  }
